/* line 1, ../Projects/bee1/scss/styles.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-family: 'Shadows Into Light', cursive;
}

/* line 14, ../Projects/bee1/scss/styles.scss */
header .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  border-bottom: 1px solid #000;
  background-color: #ffd700;
}

/* line 25, ../Projects/bee1/scss/styles.scss */
header .top h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
  padding: 0;
  margin: 0;
}

/* line 34, ../Projects/bee1/scss/styles.scss */
header .top h1 a {
  text-decoration: none;
  color: #000;
}

/* line 40, ../Projects/bee1/scss/styles.scss */
header .top .top--func {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  font-weight: bold;
}

/* line 50, ../Projects/bee1/scss/styles.scss */
header .top .top--func .top--btn {
  text-decoration: none;
  color: #000;
  padding: 0 10px 0 10px;
  margin: 3px 5px 3px 5px;
  transition: 0.8s;
  text-align: left;
  width: 4.3em;
}

/* line 61, ../Projects/bee1/scss/styles.scss */
header .top .top--func .top--btn:nth-child(1) {
  width: 3.3em;
}

/* line 65, ../Projects/bee1/scss/styles.scss */
header .top .top--func .top--btn:nth-child(3) {
  width: 2em;
}

/* line 69, ../Projects/bee1/scss/styles.scss */
header .top .top--func .top--btn:nth-child(4) {
  width: 3.4em;
}

/* line 73, ../Projects/bee1/scss/styles.scss */
header .top .top--func .top--btn:hover {
  color: #3f9b0b;
  transform: scale(1.1);
  background-image: url(../img/bee5.png);
  background-repeat: no-repeat;
  background-size: 30% 70%;
  background-position: center right;
}

/* line 91, ../Projects/bee1/scss/styles.scss */
.top--img .main--img {
  background-image: url(../img/bee3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* line 104, ../Projects/bee1/scss/styles.scss */
.top--img .main--img .logo--txt {
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  color: #faf6e0;
  font-size: 90px;
}

/* line 112, ../Projects/bee1/scss/styles.scss */
.top--img .main--img .info-txt {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  color: #fff6d4;
  font-size: 50px;
}

/* line 121, ../Projects/bee1/scss/styles.scss */
main {
  text-align: center;
}

/* line 123, ../Projects/bee1/scss/styles.scss */
main h3 {
  font-size: 38px;
  margin: 1% 0 1% 0;
}

/* line 127, ../Projects/bee1/scss/styles.scss */
main .shop {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 133, ../Projects/bee1/scss/styles.scss */
main .shop .shop--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 280px;
  margin: 0 3% 2% 3%;
  background-image: url(../img/h2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: black;
  font-size: 28px;
}

/* line 151, ../Projects/bee1/scss/styles.scss */
main .shop .shop--card h5 {
  margin: 12px 0 0 0;
}

/* line 155, ../Projects/bee1/scss/styles.scss */
main .shop .shop--card .shop--btn {
  width: 200px;
  height: 55px;
  background-color: rgba(63, 155, 11, 0.6);
  border-radius: 0 0 20px 20px;
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 22px;
}

/*# sourceMappingURL=styles.css.map */