body {
    margin: 0;
    padding: 0;

    font-family: 'Amatic SC', cursive;
    // русский
    font-family: 'Shadows Into Light', cursive;
    // английский
}

header {
    
    
    .top {
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        flex-wrap: wrap;
        // align-content: center;
        border-bottom: 1px solid #000;
        // height: 10vh;
        background-color:#ffd700;
        h1 {

            font-family: 'Shadows Into Light', cursive;
            font-size: 35px;
            padding: 0;
            margin: 0;
            // width: 45%;
            

            a {
                text-decoration: none;
                color: #000;
            }
        }

        .top--func {
            // width: 45%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-family: 'Amatic SC', cursive;
            font-size: 25px;
            font-weight: bold;
           

            .top--btn {
                text-decoration: none;
                color: #000;
                padding: 0 10px 0 10px;
                margin: 3px 5px 3px 5px;
                // border: 1px solid red;
                // border-radius: 7px;
                transition: 0.8s;
                text-align: left;
                width: 4.3em;

                &:nth-child(1) {
                    width: 3.3em;
                }

                &:nth-child(3) {
                    width: 2em;
                }

                &:nth-child(4) {
                    width: 3.4em;
                }

                &:hover {
                    // border: 1px solid rgb(0, 0, 255);
                    color:   #3f9b0b;
                    // color: black;
                    transform: scale(1.1);
                    background-image: url(../img/bee5.png);
                    background-repeat: no-repeat;
                    background-size: 30% 70%;
                    background-position: center right;
                    
                }
            }
        }
    }

}

.top--img {
    .main--img {
        background-image: url(../img/bee3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .logo--txt {
            font-family: 'Shadows Into Light', cursive;
            margin: 0;
            // color: #fbe96c;
            color:#faf6e0;
            font-size: 90px;

        }
        .info-txt {
            font-family: 'Amatic SC', cursive;
            margin: 0;
            color: rgba(255, 246, 212, 1.0);
            font-size:  50px;
        }
    }
}

main{
    text-align: center;
    h3 {
        font-size: 38px;
        margin: 1% 0 1% 0;
    }
    .shop {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        

        .shop--card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 200px;
            height: 280px;
            // outline: solid 1px black;
            margin: 0 3% 2% 3%;
            background-image: url(../img/h2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            font-family: 'Amatic SC', cursive;
            font-weight: bold;
            color: black;
            font-size: 28px;

            h5 {
                margin: 12px 0 0 0;
            }

            .shop--btn {
                width: 200px;
                height: 55px;
                background-color: rgba($color: #3f9b0b, $alpha: 0.6);
                border-radius: 0 0 20px 20px;
                font-family: 'Amatic SC', cursive;
                text-decoration: none;
                font-weight: bold;
                color: black;
                font-size: 22px;
                
            }
        }
    }
}